<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>AdminManageShipperServlet</servlet-name>
        <servlet-class>controller.AdminManageShipperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManageShipperServlet</servlet-name>
        <url-pattern>/AdminManageShipperServlet</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:sqlserver://CAOMINHTUAN\\SQLEXPRESS:1433;databaseName=RamBap76_Manager;encrypt=true;trustServerCertificate=true;</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>tuancm24</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>1234</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <listener>
        <listener-class>listener.AppContextListener</listener-class>
    </listener>

</web-app>
