<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
 
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:sqlserver://DESKTOP-57KFTGE;databaseName=RamBap76_Manager_Test5;encrypt=true;trustServerCertificate=true;</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>123</param-value>
    </context-param>
    <context-param>
        <param-name>dbDriver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <listener>
        <listener-class>listener.AppContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>GOOGLE_CLIENT_ID</param-name>
        <param-value>YOUR_GOOGLE_CLIENT_ID</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_CLIENT_SECRET</param-name>
        <param-value>YOUR_GOOGLE_CLIENT_SECRET</param-value>
    </context-param>
    <context-param>
        <param-name>GOOGLE_REDIRECT_URI</param-name>
        <param-value>http://localhost:8080/RamBap76_Manager_Project/google-callback</param-value> 
    </context-param>
    
    <servlet>
        <servlet-name>AdminManageShipperServlet</servlet-name>
        <servlet-class>controller.AdminManageShipperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminManageShipperServlet</servlet-name>
        <url-pattern>/AdminManageShipperServlet</url-pattern>
    </servlet-mapping>

</web-app>
